<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="${/css/style_list.css}" href="../../css/style_list.css"/>
<body>
    <th:block th:replace="~{/thymeleaf/fragment/header :: header}"></th:block>
    <th:block th:replace="~{/thymeleaf/fragment/admin :: admin}"></th:block>
    <div class="goods_list">
        <h2>상품 상세</h2>
        <table class="basic">
            <tr>
                <td class="title">상품코드</td><td class="contents">${item.ino}</td>
            </tr><tr>
                <td class="title">카테고리</td><td class="contents">${item.cateid}</td>
             </tr><tr>
                <td class="title">상품명</td><td class="contents">${item.name}</td>
            </tr><tr>
                <td class="title">원가</td><td class="contents"><fmt:formatNumber type="number" maxFractionDigits="3" value="${item.price}" /></td>
             </tr><tr>
                <td class="title">가격</td><td class="contents"><fmt:formatNumber type="number" maxFractionDigits="3" value="${item.calprice}" /></td>
            </tr><tr>
                <td class="title">할인율</td><td class="contents">${item.discount}</td>
             </tr><tr>
                <td class="title">원산지</td><td class="contents">${item.origin}</td>
            </tr><tr>
                <td class="title">제조사</td><td class="contents">${item.manufac}</td>
            </tr><tr>
                <td class="title">수량</td><td class="contents">${item.quantity}</td>
            </tr><tr>
                <td class="title">메인이미지</td><td class="contents"><img src="<c:url value="/up/item/${item.main_img }" />" alt="" width="300px"></td>
            </tr><tr>
                <td class="title">상세이미지</td><td class="contents"><img src="<c:url value="/up/item/${item.detail_img }" />" alt="" ></td>
            </tr><tr>
                <td class="title">강아지사이즈</td><td id="size">${item.size}</td>
            </tr><tr>
                <td class="title">강아지털길이</td><td id="fur">${item.fur}</td>
            </tr><tr>
                <td class="title">강아지나이</td><td class="contents">${item.age}</td>
            </tr><tr>
                <td class="title">등록날짜</td><td class="contents">${item.regdate}</td>
            </tr>
        </table>

        <div class="orderlist">
            <a href="/admin/item">목록으로</a>
        </div>
        <form action="${item.ino}/delete" method="post" id="del">
            <input type="hidden" name="_method" value="delete"/>
            <div class="orderlist">
                <a href="javascript:void(0);" onclick="delConfirm()">삭제</a>
            </div>
        </form>
        <div class="orderlist">
            <a href="${item.ino}/modi">수정</a>
        </div>
    </div>
    <th:block th:replace="~{/thymeleaf/fragment/footer :: footer}"></th:block>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</html>