@charset "UTF-8";
.h4 {
	width: 100px;
	text-align: center;
	padding: 20px;
	margin: 15px auto;
	background-color: #c0c0c0;
}
#table1 {
	margin: 0 auto;	
	text-align: center;
	padding-top: 30px;
}
#table2 {
	margin: 0 auto;
}
#wr {
	width: 500px;
	height: 100px;
	padding: 20px;
}
#wb {
	text-align: center;
	padding: 20px;
}
.mt {
	width: 10%;
	background-color: #cfe9e9;
}
.mt , .st {
	border-bottom: 1px solid #333333;
	padding: 10px;
}
#btns2 {
	text-align: center;
	margin-top: -15px;
}