@charset "UTF-8";
.userList {
	float: left;
	margin: 100px 0 0 100px;
	padding: 30px;
}

.userList a#title {
	font-weight: bold;
	padding-left: 30px;
}

.userList li {
	padding-bottom: 10px;
	font-weight: normal;
}

.userList a{
	color: #000000;
}