@charset "UTF-8";
body {
	margin: 0;
}
.itemWrapper {
	padding-top: 50px;
	width: 1200px;
	margin: 0 auto;
}

/* 아이템 탑 */
.mainImgBox {
	float: left;
	overflow : auto;
}
img.mainImg {
	width: 498px;
	height: 498px;
	border : 1px solid lightgray;
}

.infoBox {
	width: 570px;
	float: right;
}
.infoTitle {
	border: 1px solid black;
	border-width: 0 0 1px 0;
	padding: 10px 0;
	font-size: 24px;
}
.infoDetail {
	padding: 20px 20px;
}
table.infoTable {
	margin-bottom: 30px;
	padding-left: 20px;
}
td.originPrice {
	text-decoration: line-through;
}
table.infoTable tr {
	height: 40px;
}
table.quantity {
	margin-bottom: 30px;
	background-color: #f3f3f3;
	padding-left: 20px;
	width: 100%;
}
table.quantity tr {
	height: 50px;
}

.addButton {
	text-align: center;
	width: 25px;
	height: 35px;
	line-height: 30px;
	background-color: #fff;
	font-size: 20px;
	color: #a2a2a2;
	cursor: pointer;
	float: left;
	border: 1px #d3d3d3 solid;
}
div.quanValue {
	float:left;
	position: relative;
	left: -1px;
}
input.quanValue {
	border: none;
	width: 47px;
	height: 33px;
	text-align: center;
	border: 1px #d3d3d3 solid;
	border-width: 1px 0 1px 1px;
}
.buttonBox {
	float: right;
}
input.actionButton {
	width: 200px;
	height: 50px;
	border: none;
	font-size: 16px;
	cursor: pointer;
	color: #fff;
	/*border-radius: 8px;*/
}
input.tocart {
	background: #666;
}
input.direct {
	background: #f15d03;
}

/* 아이템 컨텐츠 */
.itemContent {
	clear: both;
}


/* detail & ex */
div.itemTab {
	padding: 80px 0 0 0;
	border-bottom: 1px solid #bbb;
}
div.itemTab div ul {
	position: relative;
	bottom: -3px;
	list-style: none;
	margin: 0 auto;
	padding: 16px 0 0 0;
	height: 42px;
	width: 870px;
	border-bottom: 1px solid #fff;
}
div.itemTab div ul li {
	float: left;
	width: 174px;
	text-align: center;
	position: relative;
}
div.itemTab div ul li.on {
	margin-top: -16px;
	z-index:5;
}
div.itemTab div ul li a {
	display: block;
    margin: 0 0 0 -1px;
    padding: 10px 0 12px 0;
    color: #999999;
    font-size: 13px;
    border: 1px solid #dadada;
    border-bottom: 1px solid #bbbbbb;
    background: #ffffff;
    text-decoration: none;
}
div.itemTab div ul li.on a {
	padding-top: 18px;
    margin-top: 8px;
    color: #333333;
    font-weight: bold;
    border: 1px solid #bbbbbb;
    border-bottom: 1px solid #ffffff;
}
div.detailBox {
	margin: 0 auto;
	text-align: center;
}
div.delContent, div.exContent {
	padding-left: 50px;
}

/* delivery */
div#delivery p, div#exchange p {
	margin: 0 0 3px 0;
	font-size: 12px;
}
div#detail h3, div#delivery h3, div#exchange h3, div#reviews h3, div#qna h3 {
	padding: 35px 0 10px 0;
}

/* review, qna */
div.revContent, div.qnaContent {
	min-height: 200px;
	position: relative;
}
/* 버튼 */
div.btnReview, div.btnQna {
	position: absolute;
	top: 25px;
	right: 0;
}
div.btnReview a, div.btnQna a {
	min-width: 120px;
	padding: 12px 20px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

table.reviewTable, table.qnaTable {
	width: 100%;
	border-top: 1px solid gray;
	border-collapse: collapse;
	font-size: 12px;
}
table.reviewTable tr.reviewRow, table.qnaTable tr.qnaRow {
	height: 47px;
	border-bottom: 1px solid lightgray;
}
div.reviewTitleBox {
	width: 696px;
	height: 16px;
	overflow: hidden;
}
table.reviewTable tr td, table.qnaTable tr td {
	padding: 13px 10px 15px 18px;
}
table.reviewTable tr.reviewRow td.star, table.qnaTable tr.qnaRow td.star {
	text-align: center;
}


/* 리뷰디테일 */
table.reviewTable tr.reviewDetail {
	display: none;
}
table.reviewTable tr.reviewDetail td.revDetailBox {
	background-color: rgb(248,248,248);
}
td.revDetailBox div.revContent {
	float: right;
	width: 84%;
	padding: 0 30px 0 0;
	
}
td.revDetailBox div.revContent div.revView {
	
}

/* 리뷰댓글 */
div.commentList {
	width: 90%;
}
div.commentList>ul {
	width: 100%;
	border-top: 2px solid lightgray;
	border-bottom: 1px solid lightgray;
	list-style: none;
}
div.commentList>ul li {
	padding: 15px 0 15px 0;
} 
.no_data {
	padding: 30px 30px 30px 30px !important;
	text-align: center;
}

